<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<app-loading-screen *ngIf="loading && !isEmailSend"></app-loading-screen>

<div *ngIf="isEmailSend">
  <div class="text-center align-content-center align-items-center pt-5 center div-outer-login">
    <div class="main container align-content-center text-center div-login btn-radio">
      <h1>Odzyskiwanie hasła</h1>
      <div class="text-start mt-5">
        <h2>Email z linkiem do zmiany hasła został wysłany na podany adres email.</h2>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loading && mode=='password'" >
  <div class="text-center align-content-center align-items-center pt-5 center div-outer-login">
    <div class="main container align-content-center text-center div-login btn-radio">
      <form #resetPasswordForm="ngForm" (ngSubmit)="changePassword(resetPasswordForm)">
        <h1>Odzyskiwanie hasła</h1>

        <!--    Login Data-->
        <div class="text-start mt-5">
          <h2>Dane logowania</h2>
        </div>
        <div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput matInput type="{{passwordVisible}}" #password id="password" name="password"
                     class="form-icon-trailing form-control login password {{!resetPasswordForm.submitted ? '' : (password.checkValidity()? 'is-valid' : 'is-invalid')}}"
                     (change)="password.checkValidity()" placeholder="Hasło" [minLength]="5" [maxLength]="15"
                     [(ngModel)]="passwordsData.password" required>
              <i class="{{visibilityIconClass}} eye trailing" id="togglePassword"
                 (click)="togglePassowrdVisibility(false)"></i>
              <label mdbLabel class="form-label" for="password">Hasło</label>
            </mdb-form-control>
            <div *ngIf="resetPasswordForm.submitted"
                 class="text-start invalid-message">{{password.checkValidity() ? '' : 'Błędne hasło, hasło powinno zawierać 5-15 znaków'}}</div>
          </div>

          <!-- Matching password input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput matInput type="{{matchingPasswordVisible}}" #matchingPassword id="matchingPassword"
                     name="matchingPassword"
                     class="form-icon-trailing form-control login password {{!resetPasswordForm.submitted ? '' : (matchingPassword.checkValidity()? 'is-valid' : 'is-invalid')}}"
                     (change)="matchingPassword.checkValidity()" placeholder="Powtórz hasło" [minLength]="5"
                     [maxLength]="15"
                     [(ngModel)]="passwordsData.matchingPassword" required>
              <i class="{{visibilityMaatchingPassowrdIconClass}} eye trailing" id="toggleMatchingPassword"
                 (click)="togglePassowrdVisibility(true)"></i>
              <label mdbLabel class="form-label" for="password">Powtórzone hasło</label>
            </mdb-form-control>
            <div *ngIf="resetPasswordForm.submitted"
                 class="text-start invalid-message">{{password.checkValidity() ? '' : 'Błędne hasło, hasło powinno zawierać 5-15 znaków'}}</div>
          </div>
        </div>

        <button class="btn btn-primary btn-block mb-4 btn-login"
                [disabled]="passwordsData.password!=passwordsData.matchingPassword || !password.checkValidity()"
                type="submit">Zresetuj hasło
        </button>
      </form>
    </div>

  </div>
</div>

<div *ngIf="!loading && mode=='email'" >
  <div class="text-center align-content-center align-items-center pt-5 center div-outer-login">
    <div class="main container align-content-center text-center div-login btn-radio">
      <form #emailForm="ngForm" (ngSubmit)="sendEmail(emailForm)">
        <h1>Odzyskiwanie hasła</h1>

        <!--    Login Data-->
        <div class="text-start mt-5">
          <h2>Email przypisany do konta</h2>
        </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput type="email" id="email" #email
                     class="form-control login {{!emailForm.submitted ? '' : (email.checkValidity()? 'is-valid' : 'is-invalid')}}"
                     [minLength]="1" [maxLength]="100" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                     name="username" placeholder="Email" (change)="email.checkValidity()"
                     [(ngModel)]="emailData"
                     required>
              <label mdbLabel class="form-label" for="email">Email</label>
            </mdb-form-control>
         </div>


        <button class="btn btn-primary btn-block mb-4 btn-login"
                type="submit">Wyślij email
        </button>
      </form>
    </div>

  </div>

</div>


