<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<app-loading-screen *ngIf="loading"></app-loading-screen>
<div *ngIf="!loading" class="container align-content-left text-left main">
  <div class="fieldset-outer">
    <fieldset class="register-form">
      <form #registerForm="ngForm">
        <h1>Zakładanie konta</h1>
        <!--    Pick your role section-->
        <div class="text-start">
          <h2>Typ konta</h2>
        </div>
        <div class="btn-group d-flex" role="group" aria-label="Basic example">
          <input
            mdbRadio
            type="radio"
            class="btn-check btn-radio"
            name="options"
            [(ngModel)]="registerData.role"
            [value]="'EMPLOYEE'"
            id="radioEmployee"
            #radioEmployee
            autocomplete="off"
            [checked]="true"
          />
          <label class="btn btn-secondary label-radio {{radioEmployee.checked ? 'checked' : ''}}" for="radioEmployee">Kandydat</label>
          <input
            mdbRadio
            type="radio"
            class="btn-check btn-radio"
            name="options"
            [(ngModel)]="registerData.role"
            [value]="'EMPLOYER'"
            #radioEmployer
            id="radioEmployer"
            autocomplete="off"
            (click)="radioEmployer.checked"
          />
          <label class="btn btn-secondary label-radio {{radioEmployer.checked ? 'checked' : ''}}" for="radioEmployer">Pracodawca</label>
          <input
            mdbRadio
            type="radio"
            class="btn-check btn-radio"
            name="options"
            [(ngModel)]="registerData.role"
            [value]="'ORGANIZER'"
            id="radioOrganizer"
            #radioOrganizer
            autocomplete="off"
          />
          <label class="btn btn-secondary label-radio {{radioOrganizer.checked ? 'checked' : ''}}" for="radioOrganizer">Organizator</label>
        </div>
        <!--    Login Data-->
        <div class="text-start mt-5">
          <h2>Dane logowania</h2>
        </div>
        <div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput type="email" id="email" #email
                     class="form-control login white-field {{!registerForm.submitted ? '' : (email.checkValidity()? 'is-valid' : 'is-invalid')}}"
                     [minLength]="1" [maxLength]="100" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                     name="username" placeholder="Email" (change)="email.checkValidity();" (input)="errorMessage = ''"
                     [(ngModel)]="registerData.username"
                     required>
              <label mdbLabel class="form-label" for="email">Email</label>
            </mdb-form-control>
            <div *ngIf="(registerForm.submitted && !email.checkValidity()) || errorMessage !== ''"
                 class="invalid-message text-start">{{email.checkValidity() ? 'Taki użytkownik już istnieje' : 'Błędny email'}}</div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput matInput type="{{passwordVisible}}" #password id="password" name="password"
                     class="form-icon-trailing form-control login password white-field {{!registerForm.submitted ? '' : (password.checkValidity()? 'is-valid' : 'is-invalid')}}"
                     (change)="password.checkValidity()" placeholder="Hasło" [minLength]="5" [maxLength]="15"
                     [(ngModel)]="registerData.password" required>
              <i class="{{visibilityIconClass}} eye trailing" id="togglePassword"
                 (click)="togglePassowrdVisibility(false)"></i>
              <label mdbLabel class="form-label" for="password">Hasło</label>
            </mdb-form-control>
            <div *ngIf="registerForm.submitted && !password.checkValidity()"
                 class="text-start invalid-message">{{!password ? 'Hasło jest wymagane': 'Błędne hasło, hasło powinno zawierać 5-15 znaków'}}</div>
          </div>

          <!-- Matching password input -->
          <div class="form-outline mb-4">
            <mdb-form-control>
              <input mdbInput matInput type="{{matchingPasswordVisible}}" #matchingPassword id="matchingPassword"
                     name="matchingPassword"
                     class="form-icon-trailing form-control login password white-field {{!registerForm.submitted ? '' : (matchingPassword.checkValidity()? 'is-valid' : 'is-invalid')}}"
                     (change)="matchingPassword.checkValidity();" (input)=" is_second_password_same = true" placeholder="Powtórz hasło" [minLength]="5"
                     [maxLength]="15"
                     [(ngModel)]="registerData.matchingPassword" required>
              <i class="{{visibilityMaatchingPassowrdIconClass}} eye trailing" id="toggleMatchingPassword"
                 (click)="togglePassowrdVisibility(true)"></i>
              <label mdbLabel class="form-label" for="password">Hasło</label>
            </mdb-form-control>
            <div *ngIf="(registerForm.submitted && !matchingPassword) || !is_second_password_same"
                 class="text-start invalid-message">
                 {{!matchingPassword ? 'Podaj powtórzone hasło' : 'Powtórzone hasło musi być zgodne z podanym wcześniej hasłem'}}</div>
          </div>
        </div>

        <button class="btn btn-primary btn-block mb-4 btn-login"
                (click)="(email.checkValidity() && password.checkValidity() && matchingPassword.checkValidity() && password.value == matchingPassword.value) ? openConfirmDialog() : (password.value != matchingPassword.value ? is_second_password_same = false : '')"
                [disabled]=""
                type="submit">Zarejestruj się
        </button>
      </form>
    </fieldset>

  </div>
</div>
