@import "src/app/login/login.component.scss";
@import "../../../styles.scss";


h2 {
  font-size: 24px;
  font-weight: 200;
  padding-bottom: 0.7rem;
}

btn-check {
  color: darken($MAIN_LOGO_COLOR, 60%) !important;
  background-color: $MAIN_LOGO_COLOR !important;

  &:hover {
    background-color: $MAIN_LOGO_COLOR !important;
  }

  &:active {
    background-color: $MAIN_LOGO_COLOR !important;
  }
}

.btn-secondary {
  color: darken($MAIN_LOGO_COLOR, 60%) !important;
  background-color: lighten($MAIN_LOGO_COLOR, 10%) !important;

  &:hover {
    background-color: lighten($MAIN_LOGO_COLOR, 20%) !important;
  }

  &:active {
    background-color: lighten($MAIN_LOGO_COLOR, 40%) !important;
  }
}

.btn-secondary {
  --mdb-btn-active-bg: $MAIN_LOGO_COLOR; /* Default value */
  --mdb-btn-bg: lighten($MAIN_LOGO_COLOR, 30%) !important;
  background-color: lighten($MAIN_LOGO_COLOR, 30%) !important;

  &:active {
    background-color: $MAIN_LOGO_COLOR !important;
  }
}

.checked{
  background-color: $MAIN_LOGO_COLOR !important;
}


.label-radio {
  color: darken($MAIN_LOGO_COLOR, 60%) !important;
}

.eye-container {
  width: 100%;
  right: 0;
  height: inherit;
  align-content: end;
  align-items: end;
  right: 0;
  left: 80%;
  pointer-events: none
}

.register-eye {
  margin-right: 7%;
  pointer-events: auto;
}

.container_row {
  display: grid;
}

.layer1, .layer2 {
  grid-column: 1;
  grid-row: 1;
}

.error-standard {
  color: $ERROR_COLOR;
}

.register-form {
  width: 50%;
  height: 50%;
}

@media (min-width: 1px) {
  .register-form {
    width: 90%;
    height: 50%;
  }
}

@media (min-width: 576px) {
  .register-form {
    width: 70%;
    height: 50%;
  }
}

@media (min-width: 1024px) {
  .register-form {
    width: 50%; /* Change width for screens wider than 1024px */
    height: 50%;
  }
}
