.dropdown-menu{
  --bs-dropdown-link-active-bg: #e9ecef;
}

.dropdown-item-element-consistent{
  background-color: inherit;
}

.dropdown{
  padding-inline: 2px;
  min-width: 50px;
  min-height: 30px;
}

