//App colors
$MAIN_COLOR: #c7d2e7;
$SIDE_COLOR: #86b3ff ;
$BORDER_COLOR: rgba(112, 112, 112, 0.34);
$MAIN_TEXT_COLOR: rgba(9, 9, 9, 0.93);
$CV_INPUTS_FIELDSET: rgba(217, 217, 217, 0.41);
$CV_INPUTS_FIELDSET_HOVER: darken($CV_INPUTS_FIELDSET, 20%);
$CV_INPUTS_FIELDSET_BORDER: rgba(112, 112, 112, 0.34);

//App fonts
$FONT_FAMILY: "Lato", sans-serif !important;
$INPUT_FONT_SIZE: 18px;
