// Logo
$MAIN_LOGO_BACKGROUND: #1d1e1e;
$MAIN_LOGO_COLOR: #6ca7b2;
$MAIN_LOGO_COLOR_STRING: '6ca7b2';
$MAIN_LOGO_FONT_SIZE: 28px;
$MAIN_LOGO_LETTER_SPACING: 2px;

// Menu
$MAIN_MENU_BACKGROUND: #2c2b2b;
$MAIN_MENU_FONT_SIZE: 23px;
$MAIN_MENU_LETTER_SPACING: 1px;

// Whole app
$MAIN_BACKGROUND: #fafafa;
$ERROR_COLOR: #e50101;

// Button colors
$SEND_BUTTON_BACKGROUND: #2c2b2b;
$RESET_BUTTON_BACKGROUND: #2c2b2b;
$ACTION_BUTTON_BACKGROUND: $MAIN_LOGO_BACKGROUND;

$MAIN_COLOR: #c7d2e7;
$SIDE_COLOR: #86b3ff;
$BORDER_COLOR: rgba(112, 112, 112, 0.34);
$MAIN_TEXT_COLOR: rgba(9, 9, 9, 0.93);
$CV_INPUTS_FIELDSET: rgba(213, 211, 211, 0.39);
$CV_INPUTS_FIELDSET_HOVER: darken($CV_INPUTS_FIELDSET, 20%);
$CV_INPUTS_FIELDSET_BORDER: rgba(112, 112, 112, 0.34);

//App fonts
$FONT_FAMILY: "Lato", sans-serif !important;
$INPUT_FONT_SIZE: 18px;
