<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="container align-content-left text-left main" *ngIf="!loading">
  <div class="fieldset-outer">
    <fieldset class="common-inputs-fieldset">
      <form>
        <legend>Oferta</legend>
        <label for="name">Nazwa stanowiska</label>
        <input type="text" #name id="name" name="name"
               class="form-control {{name.checkValidity()? 'is-valid':'is-invalid' }}" [minLength]="1" [maxLength]="120"
               (change)="name.checkValidity()" [(ngModel)]="jobOfferData.offerName" required>
        <div *ngIf="!name.checkValidity()" class="invalid-feedback">Uzupełnij nazwę stanowiska</div>
        <br><br>

        <label for="workingTime">Dzienny czas pracy</label>
        <input type="text" #workingTime id="workingTime" name="workingTime"
               class="form-control {{workingTime.checkValidity()? 'is-valid':'is-invalid' }}" [minLength]="1"
               [maxLength]="20" (change)="workingTime.checkValidity()" [(ngModel)]="jobOfferData.workingTime"
               [placeholder]="'np. 8h'" required>
        <div *ngIf="!workingTime.checkValidity()" class="invalid-feedback">Uzupełnij czas dzienny pracy</div>
        <br><br>

        <label for="workingTime">Wynagrodzenie</label>
        <div class="container">
          <div class="row w-100">
            <h3 class="col-1" style="margin: 0">Od</h3>
            <div class="col">
              <input type="number" #salaryStart id="salaryStart" name="salaryStart"
                     class="form-control {{salaryStart.checkValidity()? 'is-valid':'is-invalid' }} " [minLength]="1"
                     [maxLength]="6" (change)="salaryStart.checkValidity()" [(ngModel)]="jobOfferData.salaryFrom"
                     [placeholder]="'np. 2000'" required>
              <div *ngIf="!workingTime.checkValidity()" class="invalid-feedback">Uzupełnij czas dzienny pracy</div>
            </div>
            <h3 class="col-1">Do</h3>
            <div class="col">
              <input type="number" #salaryEnd id="salaryEnd" name="salaryEnd"
                     class="form-control" [minLength]="1"
                     [maxLength]="6" [(ngModel)]="jobOfferData.salaryTo"
                     [placeholder]="'np. 4000 lub puste'" required>

            </div>
          </div>
        </div>

        <br><br>


        <div>
          <button #industries class="btn btn-light dropdown-toggle w-100 {{ jobOfferData.industries.length > 0 ? 'valid-module' : 'invalid-module' }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Branża
          </button>
          <ul class="table dropdown-menu option-menu">
            <li *ngFor="let option of variableService.industries">
              <div class="form-check dropdown-item option-item">
                <input class="form-check-input" type="checkbox" [value]="option" [id]="option" (click)="optionClicked(option,'industries')">
                <label class="form-check-label dropdown-item-element-consistent"  [for]="option">
                  {{option}}
                </label>
              </div>
            </li>
          </ul>
        </div>

        <br><br>
        <div>
          <button #forms class="btn btn-light dropdown-toggle w-100 {{ jobOfferData.employmentForms.length > 0 ? 'valid-module' : 'invalid-module' }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rodzaj pracy
          </button>
          <ul class="table dropdown-menu option-menu">
            <li *ngFor="let option of variableService.employmentFormNames">
              <div class="form-check dropdown-item option-item">
                <input class="form-check-input" type="checkbox" [value]="option" [id]="option" (click)="optionClicked(option,'employmentForms'); console.log(jobOfferData.employmentForms)" >
                <label class="form-check-label dropdown-item-element-consistent"  [for]="option">
                  {{option}}
                </label>
              </div>
            </li>
          </ul>
        </div>

        <br><br>
        <div>
          <button #contract_type class="btn btn-light dropdown-toggle w-100 {{ jobOfferData.contractTypes.length > 0 ? 'valid-module' : 'invalid-module' }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Typ umowy
          </button>
          <ul class="table dropdown-menu option-menu">
            <li *ngFor="let option of variableService.contractTypes">
              <div class="form-check dropdown-item option-item">
                <input class="form-check-input" type="checkbox" [value]="option" [id]="option" (click)="optionClicked(option,'contractTypes')">
                <label class="form-check-label dropdown-item-element-consistent"  [for]="option">
                  {{option}}
                </label>
              </div>
            </li>
          </ul>
        </div>

        <br><br>
        <div>
          <button #level class="btn btn-light dropdown-toggle w-100 {{ jobOfferData.levels.length > 0 ? 'valid-module' : 'invalid-module' }}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Poziom
          </button>
          <ul class="table dropdown-menu option-menu">
            <li *ngFor="let option of variableService.levels">
              <div class="form-check dropdown-item option-item">
                <input class="form-check-input" type="checkbox" [value]="option" [id]="option" (click)="optionClicked(option,'levels')">
                <label class="form-check-label dropdown-item-element-consistent"  [for]="option">
                  {{option}}
                </label>
              </div>
            </li>
          </ul>
        </div>

        <br><br>
        <div #localizations class="rounded-4 list-elem" >
          <app-expanded-module-form [title]="'Miasta'" [maxInputLength]="50" [maxInputCount]="10"
                                    [listOfTexts]="jobOfferData.localizations" [minInputCount]="1"
                                    (valid)="validate($event,localizations)"
                                    [placeholder]="'np. Waraszawa'"
                                    (save)="moduleSaveInfo($event, 'localizations')"></app-expanded-module-form>
          <h5 *ngIf="localizations.classList.contains(invalidClassName)" class="invalid-module-text">Wpisz conajmniej
            jedno miasto</h5>
        </div>

        <br>
        <div #requirements class="rounded-4 list-elem" >
          <app-expanded-module-form [title]="'Wymagania'" [maxInputLength]="250" [maxInputCount]="15"
                                    [listOfTexts]="jobOfferData.requirements" [minInputCount]="1"
                                    (valid)="validate($event,requirements)"
                                    [placeholder]="'np. Java'"
                                    (save)="moduleSaveInfo($event, 'requirements')"  ></app-expanded-module-form>
          <h5 *ngIf="requirements.classList.contains(invalidClassName)" class="invalid-module-text">Wpisz conajmniej
            jedno wymaganie</h5>
        </div>

        <label for="duties">Obowiązki</label>
        <textarea type="text" #duties id="duties" name="duties"
                  class="form-control big-textarea {{duties.checkValidity()? 'is-valid':'is-invalid' }}" [minLength]="1"
                  [maxLength]="1000" (change)="duties.checkValidity()" [(ngModel)]="jobOfferData.duties"
                  required></textarea>
        <div *ngIf="!duties.checkValidity()" class="invalid-feedback">Uzupełnij obowiązki pracownika</div>
        <br><br>

        <label for="description">Opis</label>
        <textarea type="text" #description id="description" name="description" class="form-control big-textarea"
                  [maxLength]="500" (change)="description.checkValidity()"
                  [(ngModel)]="jobOfferData.description"></textarea>
        <div *ngIf="!description.checkValidity()" class="invalid-feedback">Uzupełnij czas dzienny pracy</div>
        <br><br>

        <div class="rounded-4 list-elem">
          <app-expanded-module-form [title]="'Dodatkowe umiejętności'" [maxInputLength]="200" [maxInputCount]="15"
                                    [listOfTexts]="jobOfferData.extraSkills? jobOfferData.extraSkills : []"
                                    (save)="moduleSaveInfo($event, 'extraSkills')"></app-expanded-module-form>
        </div>

        <div class="container">
          <div class="row">

            <div class="col">
              <button class="btn btn-secondary" (click)="openDeclineDialog()">
                Odrzuć zmiany
              </button>
            </div>

            <div class="col w-100 text-end">
              <button class="btn btn-secondary" (click)="openConfirmDialog()" type="submit"
                      [disabled]="!name.checkValidity() || !workingTime.checkValidity() || !salaryStart.checkValidity() || industries.classList.contains(invalidClassName)
                                    || localizations.classList.contains(invalidClassName) || forms.classList.contains(invalidClassName)
                                    || contract_type.classList.contains(invalidClassName) || level.classList.contains(invalidClassName)
                                    || requirements.classList.contains(invalidClassName) || !duties.checkValidity()">
                Potwierdź
              </button>
            </div>

          </div>
        </div>
      </form>
    </fieldset>
  </div>

</div>
