<div class="m-5 p-5">
  <div
    class="{{getPaginationService().isActiveById('saved', paginationUseList)? 'show active' : ''}}"
    id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
    <!-- Pills content -->
    <mat-paginator (page)="getPaginationService().handlePageEvent($event, 'saved', paginationUseList)"
                   [length]="getPaginationService().getLengthById('saved',paginationUseList)"
                   [pageSize]="getPaginationService().getPageSizeById('saved',paginationUseList)"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   class="paginator" aria-label="Select page">
    </mat-paginator>
    <hr>

    <div class="">
      <app-loading-screen
        *ngIf="getPaginationService().getPaginationUseById('saved',paginationUseList)?.loading"></app-loading-screen>
      <app-item-list [items]="getPaginationService().getDisplayListById('saved',paginationUseList)"
                     *ngIf="!getPaginationService().getPaginationUseById('saved',paginationUseList)?.loading"
                     (deleteItemOut)="unsaveElement(role?role:'',routeToDelete,$event)"
      ></app-item-list>

    </div>

  </div>
</div>
