@import "../../styles.scss";

.div-outer-login {
  min-width: 500px;
}

.div-login {
  width: 45%;

  a {
    text-decoration: none !important;
    color: darken($MAIN_LOGO_COLOR, 20%);

    &:hover {
      color: darken($MAIN_LOGO_COLOR, 20%);
    }

    &:active {
      color: darken($MAIN_LOGO_COLOR, 20%) !important;
    }
  }
}

.btn-login {
  border-color: darken($MAIN_LOGO_COLOR, 40%) !important;
  background-color: darken($MAIN_LOGO_COLOR, 20%) !important;

  &:hover {
    background-color: darken($MAIN_LOGO_COLOR, 40%) !important;
  }

  &:active {
    border-color: darken($MAIN_LOGO_COLOR, 40%) !important;
    background-color: darken($MAIN_LOGO_COLOR, 20%) !important;
  }
}

h1 {
  color: darken($MAIN_LOGO_COLOR, 60%);
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.eye {
  width: 15%;
  align-content: end;
  margin-left: 80%;
  margin-top: 0;
  cursor: pointer;
  z-index: 10;
  pointer-events: auto;
}

.invalid-message {
  color: $ERROR_COLOR;
  font-size: 12px;
  margin-top: 0;
  margin-left: 5px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
