<div class="container align-content-left text-left main">
  <div class="fieldset-outer">
    <fieldset class="common-inputs-fieldset">
      <form #organizerForm="ngForm">
        <legend class="mb-3">Dane organizatora targów</legend>

        <div class="form-outline mt-0 pt-4">
          <mdb-form-control>
            <input mdbInput type="text" id="name" #name
                   class="form-control white-field {{!organizerForm.submitted ? '' : (name.checkValidity()? 'is-valid' : 'is-invalid')}}"
                   [minLength]="1" [maxLength]="100"
                   name="name" placeholder="Politechnika Wrocławska" (change)="name.checkValidity()"
                   [(ngModel)]="organizerAccount.name"
                   required>
            <label mdbLabel class="form-label" for="name">Nazwa organizatora</label>

          </mdb-form-control>
          <div *ngIf="organizerForm.submitted"
               class="text-start invalid-message">{{name.checkValidity() ? '' : 'Błędny name'}}</div>
        </div>
        <br><br>

        <div class="form-outline">
          <mdb-form-control>
            <input mdbInput type="email" id="email" #email
                   class="form-control white-field {{!organizerForm.submitted ? '' : (email.checkValidity()? 'is-valid' : 'is-invalid')}}"
                   [minLength]="1" [maxLength]="100" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                   name="email" placeholder="firma@wp.pl" (change)="email.checkValidity()"
                   [(ngModel)]="organizerAccount.contactEmail"
                   required>
            <label mdbLabel class="form-label" for="email">Email kontaktowy</label>

          </mdb-form-control>
          <div *ngIf="organizerForm.submitted"
               class="text-start invalid-message">{{email.checkValidity() ? '' : 'Błędny email'}}</div>
        </div>
        <br><br>

        <div class="form-outline">
          <mdb-form-control>
            <input mdbInput type="text" id="phone" #phone
                   class="form-control white-field {{!organizerForm.submitted ? '' : (phone.checkValidity()? 'is-valid' : 'is-invalid')}}"
                   [minLength]="9" [maxLength]="20"
                   name="phone" placeholder="768 932 323" (change)="phone.checkValidity()"
                   [(ngModel)]="organizerAccount.telephone"
                   required>
            <label mdbLabel class="form-label" for="phone">Numer telefonu</label>

          </mdb-form-control>
          <div *ngIf="organizerForm.submitted"
               class="text-start invalid-message">{{phone.checkValidity() ? '' : 'Błędny telefon'}}</div>
        </div>
        <br><br>

        <div class="form-outline">
          <mdb-form-control>
            <textarea mdbInput type="text" id="description" #description
                      class="form-control white-field {{!organizerForm.submitted ? '' : (description.checkValidity()? 'is-valid' : 'is-invalid')}}"
                      [minLength]="1" [maxLength]="500"
                      name="description" placeholder="Uczelnia wyższa znajdująca się we Wrocławiu."
                      (change)="description.checkValidity()" [(ngModel)]="organizerAccount.description"
                      required></textarea>
            <label mdbLabel class="form-label" for="description">Opis</label>

          </mdb-form-control>
          <div *ngIf="organizerForm.submitted"
               class="text-start invalid-message">{{description.checkValidity() ? '' : 'Za krótki opis'}}</div>
        </div>
        <br><br>

        <div class="container">
          <div class="row">

            <div class="col ">
              <button class="btn btn-primary btn-block mb-4 btn-login"
                      (click)="(name.checkValidity() && email.checkValidity() && phone.checkValidity() && description.checkValidity())?openDeclineDialog():''"
                      [disabled]=" ">
                Odrzuć zmiany
              </button>
            </div>

            <div class="col w-100 text-end">
              <button class="btn btn-primary btn-block mb-4 btn-login"
                      (click)="(name.checkValidity() && email.checkValidity() && phone.checkValidity() && description.checkValidity())?openConfirmDialog():''"
                      type="submit"
                      [disabled]="">
                Potwierdź
              </button>
            </div>

          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>
