@import "../../../../styles.scss";

p{
  white-space: pre-line;
}

.text-bg-lighter{
  background-color: $MAIN_LOGO_COLOR !important;
  color: #e9ecef;
}

.text-bg-darker{
  background-color: $MAIN_LOGO_COLOR_DARKER !important;
  color: #e9ecef;
}

//.card-header{
//  background-color: $MAIN_LOGO_COLOR_LIGHTER !important;
//  //--mdb-card-cap-bg: $MAIN_LOGO_COLOR !important;
//}
