@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

.my-cards{
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.offer-header-container{
  margin-left:  1%;
  margin-top:  1%;
  margin-bottom: 2%;
}

.offer-header{
  margin-bottom: 0px;
}

.image-company-panel{
  margin-top: 5%;
  margin-bottom: 1%;
}

h2{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
}

.id{
  margin: 0px;
}

.useable-icon {
  font-size: 3em;
  color: rgba(31, 31, 31, 0.5);
  transition: all 0.3s linear;
}

.useable-icon:hover {
  color: rgba(31, 31, 31, 1);
}
