<app-loading-screen *ngIf="loading"></app-loading-screen>
<div class="container align-content-left text-left main" *ngIf="!loading">
    <div class="fieldset-outer">
        <fieldset class="common-inputs-fieldset">
            <form #employerForm="ngForm" action="">

                <legend class="mb-3">Dane firmowe</legend>

                <div class="form-outline mt-0 pt-4">
                    <mdb-form-control>
                        <input mdbInput type="text" id="companyName" #companyName
                            class="form-control white-field {{companyName.checkValidity() ? 'is-valid' : 'is-invalid'}}"
                            [minLength]="1" [maxLength]="100"
                            name="companyName" placeholder="Nazwa Twojej firmy" (change)="companyName.checkValidity()"
                            [(ngModel)]="employerAccount.companyName"
                            required>
                        <label mdbLabel class="form-label" for="companyName">Nazwa firmy*</label>

                    </mdb-form-control>
                    <div *ngIf="is_submit_failed && !companyName.checkValidity()"
                         class="text-start invalid-message">Uzupełnij nazwę firmy</div>
                </div>

                <div class="form-outline mt-0 pt-4">
                    <mdb-form-control>
                        <input mdbInput type="text" id="email" #email
                            class="form-control white-field {{email.checkValidity() ? 'is-valid' : 'is-invalid'}}"
                            [minLength]="1" [maxLength]="100" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                            name="email" placeholder="Adres kontaktowy email"
                            [(ngModel)]="employerAccount.email" required>
                        <label mdbLabel class="form-label" for="email">Email kontaktowy*</label>

                    </mdb-form-control>
                    <div *ngIf="is_submit_failed && !email.checkValidity()" class="text-start invalid-message">
                        {{email.value.length == 0 ? 'Email kontaktowy jest wymagany' : 'Email kontaktowy musi mieć format emaila'}}</div>
                </div>

                <div class="form-outline mt-0 pt-4">
                    <mdb-form-control>
                        <input mdbInput type="text" id="phoneNumber" #phoneNumber
                            class="form-control white-field {{phoneNumber.checkValidity() ? 'is-valid' : 'is-invalid'}}"
                            [minLength]="9" [maxLength]="20"
                            name="phoneNumber" placeholder="Numer telefonu" (change)="phoneNumber.checkValidity()"
                            [(ngModel)]="employerAccount.telephone">
                        <label mdbLabel class="form-label" for="phoneNumber">Numer telefonu</label>

                    </mdb-form-control>
                    <div *ngIf="is_submit_failed && !phoneNumber.checkValidity() && !!phoneNumber" (change)="phoneNumber.checkValidity()"
                         class="text-start invalid-message">Podano niepoprawny numer telefonu</div>
                </div>

                <div class="form-outline mt-0 pt-4">
                    <mdb-form-control>
                        <textarea mdbInput type="text" id="description" #description
                            class="form-control white-field {{description.checkValidity() ? 'is-valid' : 'is-invalid'}}"
                            [minLength]="1" [maxLength]="1000"
                            name="description" (change)="description.checkValidity()"
                            [(ngModel)]="employerAccount.description" rows="10" required></textarea>
                        <label mdbLabel class="form-label" for="description">Opis firmy*</label>

                    </mdb-form-control>
                    <div *ngIf="is_submit_failed && !description.checkValidity()" (change)="description.checkValidity()"
                         class="text-start invalid-message">{{description.value.length > 0 ? '' : 'Uzupełnij opis firmy'}}</div>
                </div>

                <div class="form-outline mt-0 pt-4">
                    <mdb-form-control>
                        <textarea mdbInput type="text" id="displayDescription" #displayDescription
                            class="form-control white-field {{displayDescription.checkValidity() ? 'is-valid' : 'is-invalid'}}"
                            [minLength]="1" [maxLength]="150"
                            name="displayDescription" placeholder="Krótki, reprezentatywny opis firmy" (change)="displayDescription.checkValidity()"
                            [(ngModel)]="employerAccount.displayDescription" rows="3" required></textarea>
                        <label mdbLabel class="form-label" for="displayDescription">Krótki opis firmy*</label>

                    </mdb-form-control>
                    <div *ngIf="is_submit_failed && !displayDescription.checkValidity()" (change)="displayDescription.checkValidity()"
                         class="text-start invalid-message">{{displayDescription.value.length > 0 ? '' : 'Uzupełnij reprezentacyjny opis firmy'}}</div>
                </div>

                <div class="form-outline mt-0 pt-4">
                    <mdb-form-control>
                        <input mdbInput type="text" id="addres" #addres
                            class="form-control white-field {{addres.checkValidity() ? 'is-valid' : 'is-invalid'}}"
                            [minLength]="1" [maxLength]="100"
                            name="addres" placeholder="Adres" (change)="addres.checkValidity()"
                            [(ngModel)]="employerAccount.address">
                        <label mdbLabel class="form-label" for="addres">Adres</label>

                    </mdb-form-control>
                    <div *ngIf="!addres.checkValidity()" (change)="addres.checkValidity()"
                         class="text-start invalid-message">Podano niepoprawny adres</div>
                </div>

                <br><br>

                <label for="fileDropRef" class="form-label">Grafika firmy</label>

                <div class="dropzone" *ngIf="!this.employerAccount.photo">
                    <div>
                        <input type="file" #fileDropRef id="fileDropRef" (change)="onFileSelected($event)">
                        <h3>Drag and drop file (max {{MAX_FILE_SIZE / 1000}} kb) here</h3>
                        <h3>lub</h3>
                        <label for="fileDropRef">Szukaj pliku</label>
                    </div>
                </div>
                <div *ngIf="this.employerAccount.photo">
                    <img [src]="this.employerAccount.photo" alt="logo" class="company-icon">
                    <div>
                        <button class="btn btn-danger" (click)="removeFile()">Usuń grafikę</button>
                    </div>
                </div>
                <br><br>

                <div class="container">
                    <div class="row">
                      <div class="col ps-0" *ngIf="!this.creatingEmployer">
                        <button class="btn btn-primary btn-block mb-4 btn-login"
                                (click)="openDeclineDialog()">
                          Anuluj
                        </button>
                      </div>

                      <div
                        class="col {{this.creatingEmployer ? 'text-center' : 'text-end' }}">
                        <button class="btn btn-primary btn-block mb-4 btn-login {{this.creatingEmployer ? 'w-50' : 'w-100' }}"
                                (click)="(companyName.checkValidity() && email.checkValidity() && (phoneNumber.checkValidity() || !phoneNumber)
                                && description.checkValidity() && displayDescription.checkValidity()) ? openConfirmDialog() : is_submit_failed = true"
                                type="submit"
                                [disabled]="">
                          Potwierdź
                        </button>
                      </div>

                    </div>
                    <div class="{{this.creatingEmployer ? 'text-center' : 'text-end' }} invalid-message" *ngIf="is_submit_failed &&
                    !(companyName.checkValidity() && email.checkValidity() && phoneNumber.checkValidity()
                    && description.checkValidity() && displayDescription.checkValidity())">Formularz zawiera błędy</div>
                </div>
            </form>
        </fieldset>
    </div>

</div>
