<div class="container align-content-left text-left main">


    <div class="fieldset-outer">
        <fieldset class="common-inputs-fieldset">
            <form action="">
                <legend>Dane firmowe</legend>
                <label for="companyName">Nazwa firmy</label>
                <input type="text" #companyName id="companyName" name="companyName"
                       class="form-control {{companyName.checkValidity()? 'is-valid':'is-invalid' }}" [minLength]="1"
                       [maxLength]="100" (change)="companyName.checkValidity()"
                       [(ngModel)]="employerAccount.companyName" required>
                <div *ngIf="!companyName.checkValidity()" class="invalid-feedback">Uzupełnij nazwę firmy</div>
                <br><br>

                <label for="mail">Email kontaktowy</label>
                <input type="email" id="mail" #email name="mail"
                       class="form-control {{email.checkValidity() ? 'is-valid':'is-invalid' }}" [minLength]="1"
                       [maxLength]="100" (change)="email.checkValidity()" [(ngModel)]="employerAccount.email" required>
                <div class="invalid-feedback" *ngIf="!email.checkValidity()"
                     (change)="email.checkValidity()">{{email.value.length > 0 ? 'Email niepoprawny' : 'Uzupełnij email'}}</div>
                <br><br>

                <label for="phone-number">Numer telefonu</label>
                <input type="text" id="phone-number" #phoneNumber name="phone-number"
                       class="form-control {{phoneNumber.checkValidity() ? 'is-valid':'is-invalid' }}" [minlength]="9"
                       [maxLength]="20" (change)="phoneNumber.checkValidity()" [(ngModel)]="employerAccount.telephone"
                       required>
                <div class="invalid-feedback" *ngIf="!phoneNumber.checkValidity()"
                     (change)="phoneNumber.checkValidity()">{{phoneNumber.value.length >= 9 ? 'Telefon niepoprawny' : 'Uzupełnij numer kontaktowy'}}</div>
                <br><br>


                <label for="description" class="form-label">Opis firmy</label>
                <textarea type="text" id="description" #description name="description"
                          class="form-control aboutMe {{description.checkValidity() ? 'is-valid':'is-invalid' }}"
                          [minlength]="1" [maxLength]="1000" (change)="description.checkValidity()"
                          [(ngModel)]="employerAccount.description" required></textarea>
                <div class="invalid-feedback" *ngIf="!description.checkValidity()"
                     (change)="description.checkValidity()">{{description.value.length > 0 ? '' : 'Uzupełnij opis firmy'}}</div>
                <br><br>

                <label for="displayDescription" class="form-label">Krótki opis firmy</label>
                <textarea type="text" id="displayDescription" #displayDescription name="displayDescription"
                          class="form-control {{displayDescription.checkValidity() ? 'is-valid':'is-invalid' }}"
                          [minlength]="1" [maxLength]="150" (change)="displayDescription.checkValidity()"
                          [(ngModel)]="employerAccount.displayDescription" required></textarea>
                <div class="invalid-feedback" *ngIf="!displayDescription.checkValidity()"
                     (change)="displayDescription.checkValidity()">{{displayDescription.value.length > 0 ? '' : 'Uzupełnij krótki opis firmy'}}</div>
                <br><br>

                <label for="addres" class="form-label">Adres</label>
                <input type="text" id="addres" #addres name="addres" class="form-control" [maxlength]="100"
                       (change)="addres.checkValidity()" [(ngModel)]="employerAccount.address"><br><br>

                <label for="addres" class="form-label">Grafika firmy</label>

                <div class="dropzone" *ngIf="!this.employerAccount.photo">
                    <div>
                        <input type="file" #fileDropRef id="fileDropRef" (change)="onFileSelected($event)">
                        <h3>Drag and drop file (max {{MAX_FILE_SIZE / 1000}} kb) here</h3>
                        <h3>lub</h3>
                        <label for="fileDropRef">Szukaj pliku</label>
                    </div>
                </div>
                <div *ngIf="this.employerAccount.photo">
                    <img [src]="this.employerAccount.photo" alt="logo" class="company-icon">
                    <div>
                        <button class="btn btn-danger" (click)="removeFile()">Usuń grafike</button>
                    </div>

                </div>
                <br><br>

                <div class="container">
                    <div class="row">

                        <div class="col ">
                            <button class="btn btn-secondary" (click)="openDeclineDialog()"
                                    [disabled]="!companyName.checkValidity()  || !email.checkValidity() || !phoneNumber.checkValidity() ">
                                Odrzuć zmiany
                            </button>
                        </div>

                        <div class="col w-100 text-end">
                            <button class="btn btn-secondary" (click)="openConfirmDialog()" type="submit"
                                    [disabled]="!companyName.checkValidity() || !email.checkValidity() || !phoneNumber.checkValidity() || !description.checkValidity() || !displayDescription.checkValidity()">
                                Potwierdź
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </fieldset>
    </div>

</div>
