
<div class="m-5" *ngIf="!loading">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Przemysły
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <app-expanded-module-form  [title]="'Przemysły'" [maxInputLength]="500"
                                     [listOfTexts]="getVariablesService().industries"
                                     (save)="getVariablesService().postIndustryNames($event)"></app-expanded-module-form>
        </div>
      </div>
    </div>
  </div>
</div>
