.logo {
  color: determine-font-color-from-bg($MAIN_LOGO_BACKGROUND);
  font-size: $MAIN_LOGO_FONT_SIZE;
  letter-spacing: $MAIN_LOGO_LETTER_SPACING;
  height: 100%;
}

.logo-toolbar {
  height: 80px !important;
  background-color: $MAIN_LOGO_BACKGROUND !important;
  width: 100% !important;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  font-size: $MAIN_MENU_FONT_SIZE;
  letter-spacing: $MAIN_MENU_LETTER_SPACING;
}

.mat-toolbar.mat-primary {
  position: sticky;
  color: determine-font-color-from-bg($MAIN_LOGO_BACKGROUND);
  top: 0;
  z-index: 1;
}

