
<div class="d-flex justify-content-between">
  <div><img (click)="toggleQuestion1()" [src]="arrowImgSrc" style="position: absolute; {{rotate}}"/></div>
  <div><h3 class="question-title">{{title}}</h3></div>
  <div><button class="btn btn-primary mb-4 btn-login" (click)="startAddingNewText()">+</button></div>
</div>

<div class="firstLevel" *ngIf="!questionHide">
  <div text-align="right">

    <table class="table">
      <tr
        *ngFor="let elem of listOfTextsWithIndexes">
        <td class="question-first-element-in-row" (click)="editText(elem[1])">
          <img class="inside-table" [src]="pencilImgSrc"/></td>
        <td class="question-second-element-in-row" *ngIf="elem[1]!=editMode">
          <div> {{elem[0]}} </div>
        </td>
        <td *ngIf="elem[1]==editMode"><input [(ngModel)]="newText" class="form-control white-field" [maxLength]="maxInputLength"
                                             (keyup.enter)="addText(elem[1])" [placeholder]="placeholder"></td>
      </tr>
      <tr *ngIf="newTextInputVisibile">
        <td colspan="2">
          <div class="form-group">
            <form #textForm="ngForm">
              <div class="form-group">
                <input [(ngModel)]="newText" [maxLength]="maxInputLength" class="form-control" style="height: 60px"
                      id="newTextInput" name="newText" type="text" (keyup.enter)="addText()" [placeholder]="placeholder">
              </div>
            </form>
          </div>
        </td>
      </tr>
    </table>


    
  </div>
</div>



