
<!--<div class="container">-->
<!--  <div  class="row align-text-bottom align-items-end">-->

<!--    <div class="col-xs-12 col-sm-6 col-md-4 mt-2 h-100">-->
<!--      <div class="dropdown">-->
<!--        <button class="btn btn-secondary dropdown-toggle w-100 h-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          Sortuj-->
<!--        </button>-->
<!--        <ul class="table dropdown-menu filter-menu">-->
<!--          <li *ngFor="let option of sortOptions">-->
<!--            <div class="form-check dropdown-item filter-item">-->
<!--              <input class="form-check-input" type="radio" name="sort" [value]="option" [id]="option" (click)="sortOptionClicked(option)">-->
<!--              <label class="form-check-label dropdown-item-element-consistent"  [for]="option">-->
<!--                {{option}}-->
<!--              </label>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--    -->
<!--  </div>-->
<!--</div>-->

<!--<div>-->
<!--  <ul *ngIf="this.start" class="table dropdown-menu filter-menu">-->

<!--    <li *ngFor="let option of filterOptions">-->
<!--      <div>-->
<!--        <app-filtring-field class="col-xs-12 col-sm-6 col-md-4" [title]="option[0]"  [options]="option[1]"  (optionsSelectedOutput)="filterOptionClicked($event)">-->

<!--        </app-filtring-field>-->
<!--      </div>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->



<div class="container">
  <div  class="row align-text-bottom align-items-end">


      <div class="col-xs-12 col-sm-6 col-md-4 mt-2 h-100">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle w-100 h-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sortuj
          </button>
          <ul class="table dropdown-menu filter-menu">
            <li *ngFor="let option of sortOptions">
              <div class="form-check dropdown-item filter-item">
                <input class="form-check-input" type="radio" name="sort" [value]="option" [id]="option" (click)="sortOptionClicked(option)">
                <label class="form-check-label dropdown-item-element-consistent"  [for]="option">
                  {{option}}
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 mt-2 h-100"  *ngFor="let option of filterOptions">
          <app-filtring-field [title]="option[0]"  [options]="option[1]"  (optionsSelectedOutput)="filterOptionClicked($event)">

          </app-filtring-field>
      </div>

  </div>
</div>

