@import "src/scss/utils/_variables.scss";
.filter-item{
  margin-left: 10%;
  width: 80%;
}

.filter-menu{
  width: 100%;
}

.dropdown-menu{
  --bs-dropdown-link-active-bg: #e9ecef;
}

.dropdown-item-element-consistent{
  background-color: inherit;
}

.dropdown{
  padding-inline: 2px;
}

.dropdown-color{
  background-color: $MAIN_LOGO_COLOR_DARKER;
  border-color: $MAIN_LOGO_COLOR_DARKER;
}

.dropdown-color:hover{
  background-color: $MAIN_LOGO_COLOR;
  border-color: $MAIN_LOGO_COLOR;
}

.hr-center{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
