<div class="container">
  <div>
    <div class="row align-text-bottom align-items-end" *ngIf="isFilterPanelOpen" >


      <div class="col-xs-12 col-sm-6 col-md-4 mt-2 h-100" *ngIf="useSorting">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle w-100 h-100 dropdown-color" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
            Sortuj
          </button>
          <ul class="table dropdown-menu filter-menu">
            <li *ngFor="let option of sortOptions">
              <div class="form-check dropdown-item filter-item">
                <input class="form-check-input" type="radio" name="sort" [value]="option" [id]="option"
                       (click)="sortOptionClicked(option)">
                <label class="form-check-label dropdown-item-element-consistent" [for]="option">
                  {{option}}
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>


        <div class="col-xs-12 col-sm-6 col-md-4 mt-2 h-100"  *ngFor="let option of filterOptions">
          <app-filtring-field [title]="option[0]" [options]="option[1]" [id]="option[0]" #item
                              (optionsSelectedOutput)="filterOptionClicked(option[0],$event)">

          </app-filtring-field>
        </div>

      </div>


    <div class="row my-4">
      <div class="col text-center align-content-center align-items-center">
        <hr class="hr-center text-center">
      </div>

    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 my-2">
        <button class="btn btn-secondary dropdown-color w-100" [disabled]="isSelectedNothing()" (click)="clearFilters()" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{'Wyczyść filtry'}}
        </button>
      </div>
      <div class="col-xs-6 col-sm-6 my-2">
        <button class=" btn btn-secondary dropdown-color w-100" [disabled]="isSelectedNothing()" (click)="useFilters()" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{'Filtruj'}}
        </button>
      </div>
    </div>
  </div>
</div>

