.filter-item{
  margin-left: 10%;
  width: 80%;
}

.filter-menu{
  width: 50%;
}

.dropdown-menu{
  --bs-dropdown-link-active-bg: #e9ecef;
}

.dropdown-item-element-consistent{
  background-color: inherit;
}

.dropdown{
  padding-inline: 2px;
}
