<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="login">Logowanie</a>
      <a mat-list-item *ngIf="localStorage.getItem('role') == 'employee'" routerLink="employee/account">Profil</a>
      <a mat-list-item *ngIf="localStorage.getItem('role') == 'employer'" routerLink="employer/account">Profil pracodawcy</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="logo-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo">job4me</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div>
      <router-outlet class="w-100 h-100"></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
