<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="isLogged()" routerLink="{{role}}/account">Profil</a>
      <a mat-list-item *ngIf="role=='employee'" routerLink="employee/saved/employers">Zapisani pracodawcy</a>
      <a mat-list-item *ngIf="role=='employee'" routerLink="employee/saved/job-offers">Zapisane oferty</a>
      <a mat-list-item *ngIf="role=='employer'" routerLink="/employer/employees/list-display">Zapisani pracobiorcy</a>
      <a mat-list-item routerLink="job-fairs">Targi pracy</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="logo-toolbar w-100">
      <button
        type="button"
        aria-label="Toggle sidenav"
        class="text-white"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>

      </button>
      <img src="assets/job4Me.png" alt="job4Me" class="logo pointer"  routerLink="title-page">

      <div class="me-xs-1 me-sm-2 me-md-3 me-lg-4 me-xxl-5 w-100 text-end text-white">
        <h4 class="text-end text-white">
          <a class="mx-xs-1 mx-sm-2 mx-md-3 mx-lg-4 my-0 pointer nav-bar-text text-end" *ngIf="!isLogged()" routerLink="register">Zarejestruj się</a>
          <a class="mx-xs-1 mx-sm-2 mx-md-3 mx-lg-4 my-0 pointer nav-bar-text text-end" *ngIf="!isLogged()" routerLink="login">Zaloguj się</a>
          <a class="mx-xs-1 mx-sm-2 mx-md-3 mx-lg-4 my-0 pointer nav-bar-text text-end"  *ngIf="isLogged()" (click)="getLoginService().logout()"  routerLink="title-page">Wyloguj</a>
        </h4>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->
    <div>
      <router-outlet class="w-100 h-100"></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
