<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="login">Logowanie</a>
      <a mat-list-item routerLink="{{localStorage.getItem('role')}}/account">Profil</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="logo-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        class="text-white"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/job4Me.png" alt="job4Me" class="logo">
    </mat-toolbar>
    <!-- Add Content Here -->
    <div>
      <router-outlet class="w-100 h-100"></router-outlet>
      <app-footer></app-footer>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
