<app-loading-screen *ngIf="loadingAccount"></app-loading-screen>

<div class="main w-100" *ngIf="!loadingAccount">
    <div class="content">
        <!--  Introductory panel-->
        <div class="container info-panel p-4">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-3 col-xl-3 text-xs-center text-sm-center text-md-start">
                        <img [src]="employerAccount.photo ? employerAccount.photo : companyPhoto " class="company-icon">
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-9 col-xl-9 ps-md-5 ps-lg-4 text-xs-center text-sm-center text-md-start mt-auto mb-auto">
                        <h1 class="name-text">{{employerAccount.companyName}}</h1>

                        <h3>{{employerAccount.email}} {{employerAccount.email !== null && employerAccount.telephone !== null ? '|' : ''}} {{employerAccount.telephone}} <br> {{employerAccount.address}}</h3>
                    </div>
            </div><br>
            <p class="text-description cot-md-12" *ngIf="employerAccount.description"> {{employerAccount.description}} </p>

            <div class="row align-items-center" *ngIf="isOwner">

                <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <button class="btn btn-primary btn-login w-100 form-button-action" routerLink="/employer/edit-form">Edytuj
                        informacje
                    </button>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                    <button class="btn btn-primary btn-login w-100 form-button-action" routerLink="/employer/add-job-offer">Dodaj
                        ofertę
                    </button>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                  <button class="btn btn-primary btn-login w-100 form-button-action" routerLink="/update-password">Zmień
                    hasło
                  </button>
                </div>

            </div>
        </div><br>

        <!--  Offers Panel-->
        <div class="container info-panel p-4 ">

            <!-- Pills navs -->
            <div class="row nav nav-pills mb-3" id="ex1" role="tablist">
                <div class="col nav-item pointer" role="presentation">
                    <h1
                            class="nav-link pointer text-center {{getPaginationService().isActiveById('active-job-offers',paginationUseList)? 'active' : ''}}"
                            id="ex1-tab-1"
                            data-mdb-toggle="pill"
                            (click)="getPaginationService().changeTab('active-job-offers',paginationUseList)"
                            role="tab"
                            aria-controls="ex1-pills-1"
                            aria-selected="true"
                    >Aktywne oferty</h1>
                </div>
                <div class="col nav-item" role="presentation" *ngIf="isOwner">
                    <h1
                            class="nav-link pointer text-center {{getPaginationService().isActiveById('inactive-job-offers',paginationUseList)? 'active' : ''}}"
                            id="ex1-tab-2"
                            data-mdb-toggle="pill"
                            (click)="getPaginationService().changeTab('inactive-job-offers',paginationUseList)"
                            role="tab"
                            aria-controls="ex1-pills-2"
                            aria-selected="false"
                    >Nieaktywne oferty</h1>
                </div>
            </div>

            <div class="row nav nav-pills mb-3" id="ex2" role="tablist" *ngIf="isOwner">
              <div class="col nav-item" role="presentation">
                <h1
                  class="nav-link pointer text-center {{getPaginationService().isActiveById('pendingEmployers',paginationUseList)? 'active' : ''}}"
                  id="ex2-tab-1"
                  data-mdb-toggle="pill"
                  (click)="getPaginationService().changeTab('pendingEmployers', paginationUseList)"
                  role="tab"
                  aria-controls="ex2-pills-1"
                  aria-selected="false"
                >Oczekujące zgłoszenia</h1>
              </div>
              <div class="col nav-item" role="presentation">
                <h1
                  class="nav-link pointer text-center {{getPaginationService().isActiveById('acceptedEmployers', paginationUseList)? 'active' : ''}}"
                  id="ex2-tab-2"
                  data-mdb-toggle="pill"
                  (click)="getPaginationService().changeTab('acceptedEmployers', paginationUseList)"
                  role="tab"
                  aria-controls="ex2-pills-2"
                  aria-selected="false"
                >Zaakceptowane zgłoszenia</h1>
              </div>
            </div>
            <!-- Pills navs -->


            <!-- Pills content -->
            <div class="tab-content" id="ex1-content">
                <div
                        class="tab-pane fade {{getPaginationService().isActiveById('inactive-job-offers', paginationUseList)? 'show active' : ''}}"
                        id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1" *ngIf="isOwner">
                    <!-- Pills content -->
                    <mat-paginator (page)="getPaginationService().handlePageEvent($event, 'inactive-job-offers', paginationUseList)"
                                   [length]="getPaginationService().getLengthById('inactive-job-offers',paginationUseList)"
                                   [pageSize]="getPaginationService().getPageSizeById('inactive-job-offers',paginationUseList)"
                                   [pageSizeOptions]="[5, 10, 25, 100]"
                                   aria-label="Select page">
                    </mat-paginator>
                    <hr>

                    <div class="">
                        <div class="pb-3">
                            <app-filter-sort-panel
                                    (filterOptionSelectedOutput)="getPaginationService().updateFilters('inactive-job-offers',paginationUseList, $event)"
                                    (sortOptionSelectedOutput)="getPaginationService().updateSorting('inactive-job-offers',paginationUseList,$event)"
                                    [filter]="[FiliterType.levelNames,FiliterType.employmentFormNames,FiliterType.contractTypeNames, FiliterType.industryNames, FiliterType.cities,FiliterType.salaryFrom, FiliterType.salaryTo]"></app-filter-sort-panel>
                        </div>
                        <app-loading-screen
                                *ngIf="getPaginationService().getPaginationUseById('inactive-job-offers',paginationUseList)?.loading"></app-loading-screen>
                        <app-item-list [items]="getPaginationService().getDisplayListById('inactive-job-offers',paginationUseList)"
                                       *ngIf="!getPaginationService().getPaginationUseById('inactive-job-offers',paginationUseList)?.loading"
                                       (deleteItemOut)="deleteJobOffer($event)"
                        ></app-item-list>
                    </div>

                </div>
                <div
                        class="tab-pane fade {{getPaginationService().isActiveById('active-job-offers', paginationUseList)? 'show active' : ''}}"
                        id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2" >
                    <!-- Pills content -->

                    <mat-paginator (page)="getPaginationService().handlePageEvent($event, 'active-job-offers', paginationUseList)"
                                   [length]="getPaginationService().getLengthById('active-job-offers',paginationUseList)"
                                   [pageSize]="getPaginationService().getPageSizeById('active-job-offers',paginationUseList)"
                                   [pageSizeOptions]="[5, 10, 25, 100]"
                                   aria-label="Select page">
                    </mat-paginator>
                    <hr>

                    <div class="">
                        <div class="pb-3">
                            <app-filter-sort-panel
                                    (filterOptionSelectedOutput)="getPaginationService().updateFilters('active-job-offers',paginationUseList, $event)"
                                    (sortOptionSelectedOutput)="getPaginationService().updateSorting('active-job-offers',paginationUseList,$event)"
                                    [filter]="[FiliterType.levelNames,FiliterType.employmentFormNames,FiliterType.contractTypeNames, FiliterType.industryNames, FiliterType.cities,FiliterType.salaryFrom, FiliterType.salaryTo]"></app-filter-sort-panel>
                        </div>
                        <app-loading-screen
                                *ngIf="getPaginationService().getPaginationUseById('active-job-offers',paginationUseList)?.loading"></app-loading-screen>
                        <app-item-list [items]="getPaginationService().getDisplayListById('active-job-offers',paginationUseList)"
                                       *ngIf="!getPaginationService().getPaginationUseById('active-job-offers',paginationUseList)?.loading"
                                       (deleteItemOut)="deleteJobOffer($event)"
                        ></app-item-list>
                    </div>

                </div>
            </div>

            <div class="tab-content" id="ex2-content">

            <!--        Pending Employers-->
            <div class="tab-pane fade {{getPaginationService().isActiveById('pendingEmployers',paginationUseList)? 'show active' : ''}}"
                 id="ex2-pills-1" role="tabpanel" aria-labelledby="ex2-tab-1"  *ngIf="isOwner">
              <mat-paginator (page)="getPaginationService().handlePageEvent($event, 'pendingEmployers',paginationUseList) "
                             [length]="getPaginationService().getLengthById('pendingEmployers',paginationUseList)"
                             [pageSize]="getPaginationService().getPageSizeById('pendingEmployers',paginationUseList)"
                             [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
              </mat-paginator>
              <hr>

              <div class="">
                <div class="pb-3">
                  <app-filter-sort-panel
                    (filterOptionSelectedOutput)="getPaginationService().updateFilters('pendingEmployers',paginationUseList, $event)"
                    (sortOptionSelectedOutput)="getPaginationService().updateSorting('pendingEmployers',paginationUseList,$event)"
                    [filter]="[FiliterType.jobFairName, FiliterType.employerCompanyName]"></app-filter-sort-panel>
                </div>
                <app-loading-screen
                  *ngIf="getPaginationService().getPaginationUseById('pendingEmployers',paginationUseList)?.loading"></app-loading-screen>
                <app-item-list *ngIf="!getPaginationService().getPaginationUseById('pendingEmployers',paginationUseList)?.loading"
                               [items]="getPaginationService().getDisplayListById('pendingEmployers',paginationUseList)"
                               (filterOptionSelectedOutput)="getPaginationService().updateFilters('pendingEmployers',paginationUseList, $event)"
                               (deleteItemOut)="deleteRequest($event)">

                </app-item-list>
              </div>
            </div>

            <!--        Accepted Employers-->
            <div class="tab-pane fade {{getPaginationService().isActiveById('acceptedEmployers',paginationUseList)? 'show active' : ''}}"
                 id="ex2-pills-2" role="tabpanel" aria-labelledby="ex2-tab-2" *ngIf="isOwner">
              <mat-paginator (page)="getPaginationService().handlePageEvent($event, 'acceptedEmployers',paginationUseList) "
                             [length]="getPaginationService().getLengthById('acceptedEmployers',paginationUseList)"
                             [pageSize]="getPaginationService().getPageSizeById('acceptedEmployers',paginationUseList)"
                             [pageSizeOptions]="[5, 10, 25, 100]"
                             aria-label="Select page">
              </mat-paginator>
              <hr>

              <div class="">
                <div class="pb-3">
                  <app-filter-sort-panel
                    (filterOptionSelectedOutput)="getPaginationService().updateFilters('acceptedEmployers',paginationUseList, $event)"
                    (sortOptionSelectedOutput)="getPaginationService().updateSorting('acceptedEmployers',paginationUseList,$event)"
                    [filter]="[FiliterType.jobFairName, FiliterType.employerCompanyName]"></app-filter-sort-panel>
                </div>
                <app-loading-screen
                  *ngIf="getPaginationService().getPaginationUseById('acceptedEmployers',paginationUseList)?.loading"></app-loading-screen>
                <app-item-list *ngIf="!getPaginationService().getPaginationUseById('acceptedEmployers',paginationUseList)?.loading"
                               [items]="getPaginationService().getDisplayListById('acceptedEmployers',paginationUseList)"
                               (filterOptionSelectedOutput)="getPaginationService().updateFilters('acceptedEmployers',paginationUseList, $event)"
                               (deleteItemOut)="deleteRequest($event)">

                </app-item-list>
              </div>
            </div>

          </div>

        </div>

        <br><br><br>
    </div>
</div>

