<app-loading-screen *ngIf="loading"></app-loading-screen>

<div class="main" *ngIf="!loading">
  <div class="container align-content-center text-center pt-5">
    <div class="content">
      <!--  Introductory panel-->
      <div class="container info-panel p-4">
        <div class="row">

          <div class="col-xs-2 col-md-7 col-lg-8 col-xl-9 text-xs-center text-sm-center text-md-start">
            <h3 class="name-text">{{jobFair.name}}</h3>

            <h6 class="mt-3"> Czas rozpoczęcia targów:  <i>{{jobFair.dateStart}} </i></h6>
            <h6> Czas zakończenia targów:  <i>{{jobFair.dateEnd}}</i></h6>
            <h6> Adres:  <i>{{jobFair.address}}</i></h6>
            <h6> Organizator targów: <i class="btn-link pointer" [routerLink]="'/organizer/'+jobFair.organizerId"> Organizator</i></h6>

            <p class="text-description" *ngIf="jobFair.description"> {{jobFair.description}} </p>
          </div>

        </div>
      </div>

      <!--Events-->

      <!--  Offers Panel-->
      <div class="container info-panel p-4 ">
        <h2 class="text-center">Oferty</h2>
        <mat-paginator (page)="handlePageEvent($event)"
                       [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
        </mat-paginator>
        <hr>

        <div class="">
          <app-loading-screen *ngIf="loadingEmployers"></app-loading-screen>
          <app-item-list [items]="employersAsList" *ngIf="!loadingEmployers"
                         [filters]="filters"></app-item-list>
        </div>

      </div>


      <hr>
        <div >
          <app-item-list [items]="employersAsList">

          </app-item-list>
        </div>
        <hr>

        <!--  Actions Panel-->
        <div class="row align-items-center pt-5 text-center">
          <div class="col-sm-12 col-md-6">
            <button class="btn btn-primary w-100 btn-login text-center" routerLink="/organizer/1/job-fair/2/edit-form">Edytuj informacje
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

