<app-loading-screen *ngIf="loadingSite"></app-loading-screen>

<div class="main w-100" *ngIf="!loadingSite">
  <div class="content">
    <!--  Introductory panel-->
    <div class="container info-panel p-4">
      <div class="row">

        <div class="col-xs-2 col-md-7 col-lg-8 col-xl-9 text-xs-center text-sm-center text-md-start">
          <h1 class="name-text">{{organizerAccount.name}}</h1>

          <h3>{{organizerAccount.contactEmail}} {{organizerAccount.contactEmail !== null && organizerAccount.telephone !== null ? '|' : ''}} {{organizerAccount.telephone}}</h3>

          <p class="text-description" *ngIf="organizerAccount.description"> {{organizerAccount.description}} </p>
        </div>

      </div>

      <div class="row align-items-center" *ngIf="isOwner">

        <div class="col-sm-12 col-md-6" >
          <button class="btn btn-primary btn-login w-100 form-button-action" routerLink="/organizer/edit-info">Edytuj informacje
          </button>
        </div>
        <!-- <br><br> -->
        <div class="col-sm-12 col-md-6">
          <button class="btn btn-primary btn-login w-100 form-button-action" routerLink="/organizer/add-job-fair">Dodaj targi pracy
          </button>
        </div>

      </div>
    </div>

    <!--  Offers Panel-->
    <div class="container info-panel p-4 ">

      <!-- Pills navs -->
      <div class="row nav nav-pills mb-3" id="ex1" role="tablist">
        <div class="col nav-item" role="presentation">
          <h1
            class="nav-link pointer text-center {{getPaginationService().isActiveById('jobFairs',paginationUseList)? 'active' : ''}}"
            id="ex1-tab-1"
            data-mdb-toggle="pill"
            (click)="getPaginationService().changeTab('jobFairs',paginationUseList)"
            role="tab"
            aria-controls="ex1-pills-1"
            aria-selected="true"
          >Zorganizowane wydarzenia</h1>
        </div>
        <div class="col nav-item" role="presentation" *ngIf="isOwner">
          <h1
            class="nav-link pointer text-center {{getPaginationService().isActiveById('pendingEmployers',paginationUseList)? 'active' : ''}}"
            id="ex1-tab-2"
            data-mdb-toggle="pill"
            (click)="getPaginationService().changeTab('pendingEmployers', paginationUseList)"
            role="tab"
            aria-controls="ex1-pills-2"
            aria-selected="false"
          >Oczekujący pracodawcy</h1>
        </div>
        <div class="col nav-item" role="presentation" *ngIf="isOwner">
          <h1
            class="nav-link pointer text-center {{getPaginationService().isActiveById('acceptedEmployers', paginationUseList)? 'active' : ''}}"
            id="ex1-tab-3"
            data-mdb-toggle="pill"
            (click)="getPaginationService().changeTab('acceptedEmployers', paginationUseList)"
            role="tab"
            aria-controls="ex1-pills-3"
            aria-selected="false"
          >Zaakceptowani pracodawcy</h1>
        </div>
      </div>
      <!-- Pills navs -->

      <!-- Pills content -->

<!--      Job Fairs-->
      <div class="tab-content" id="ex1-content">
        <div class="tab-pane fade {{getPaginationService().isActiveById('jobFairs',paginationUseList)? 'show active' : ''}}" id="ex1-pills-1"
             role="tabpanel" aria-labelledby="ex1-tab-1">

          <mat-paginator (page)="getPaginationService().handlePageEvent($event, 'jobFairs',paginationUseList) "
                         [length]="getPaginationService().getLengthById('jobFairs',paginationUseList)"
                         [pageSize]="getPaginationService().getPageSizeById('jobFairs',paginationUseList)"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         aria-label="Select page">
          </mat-paginator>
          <hr>

          <div class="">
            <app-loading-screen
              *ngIf="getPaginationService().getPaginationUseById('jobFairs',paginationUseList)?.loading"></app-loading-screen>
            <app-item-list *ngIf="!getPaginationService().getPaginationUseById('jobFairs',paginationUseList)?.loading"
                           [items]="getPaginationService().getDisplayListById('jobFairs',paginationUseList)"
                           (deleteItemOut)="deleteRequest($event)" (acceptItemOut)="acceptRequest($event)"
                           (filterOptionSelectedOutput)="getPaginationService().updateFilters('jobFairs',paginationUseList, $event)">

            </app-item-list>
          </div>
        </div>

<!--        Pending Employers-->
        <div class="tab-pane fade {{getPaginationService().isActiveById('pendingEmployers',paginationUseList)? 'show active' : ''}}"
             id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2"  *ngIf="isOwner">
          <mat-paginator (page)="getPaginationService().handlePageEvent($event, 'pendingEmployers',paginationUseList) "
                         [length]="getPaginationService().getLengthById('pendingEmployers',paginationUseList)"
                         [pageSize]="getPaginationService().getPageSizeById('pendingEmployers',paginationUseList)"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         aria-label="Select page">
          </mat-paginator>
          <hr>

          <div class="">
            <div class="pb-3">
              <app-filter-sort-panel
                (filterOptionSelectedOutput)="getPaginationService().updateFilters('pendingEmployers',paginationUseList, $event)"
                (sortOptionSelectedOutput)="getPaginationService().updateSorting('pendingEmployers',paginationUseList,$event)"
                [filter]="[FiliterType.jobFairName, FiliterType.employerCompanyName]"></app-filter-sort-panel>
            </div>
            <app-loading-screen
              *ngIf="getPaginationService().getPaginationUseById('pendingEmployers',paginationUseList)?.loading"></app-loading-screen>
            <app-item-list *ngIf="!getPaginationService().getPaginationUseById('pendingEmployers',paginationUseList)?.loading"
                           [items]="getPaginationService().getDisplayListById('pendingEmployers',paginationUseList)"
                           (deleteItemOut)="deleteRequest($event)" (acceptItemOut)="acceptRequest($event)"
                           (filterOptionSelectedOutput)="getPaginationService().updateFilters('pendingEmployers',paginationUseList, $event)">

            </app-item-list>
          </div>
        </div>

<!--        Accepted Employers-->
        <div class="tab-pane fade {{getPaginationService().isActiveById('acceptedEmployers',paginationUseList)? 'show active' : ''}}"
             id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3" *ngIf="isOwner">
          <mat-paginator (page)="getPaginationService().handlePageEvent($event, 'acceptedEmployers',paginationUseList) "
                         [length]="getPaginationService().getLengthById('acceptedEmployers',paginationUseList)"
                         [pageSize]="getPaginationService().getPageSizeById('acceptedEmployers',paginationUseList)"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         aria-label="Select page">
          </mat-paginator>
          <hr>

          <div class="">
            <div class="pb-3">
              <app-filter-sort-panel
                (filterOptionSelectedOutput)="getPaginationService().updateFilters('acceptedEmployers',paginationUseList, $event)"
                (sortOptionSelectedOutput)="getPaginationService().updateSorting('acceptedEmployers',paginationUseList,$event)"
                [filter]="[FiliterType.jobFairName, FiliterType.employerCompanyName]"></app-filter-sort-panel>
            </div>
            <app-loading-screen
              *ngIf="getPaginationService().getPaginationUseById('acceptedEmployers',paginationUseList)?.loading"></app-loading-screen>
            <app-item-list *ngIf="!getPaginationService().getPaginationUseById('acceptedEmployers',paginationUseList)?.loading"
                           [items]="getPaginationService().getDisplayListById('acceptedEmployers',paginationUseList)"
                           (deleteItemOut)="deleteRequest($event)" (acceptItemOut)="acceptRequest($event)"
                           (filterOptionSelectedOutput)="getPaginationService().updateFilters('acceptedEmployers',paginationUseList, $event)">

            </app-item-list>
          </div>
        </div>
      </div>
      <!-- Pills content -->
    </div>
  </div>
</div>

