@import "../../../styles.scss";

html {
  --mat-option-selected-state-label-text-color: $MAIN_LOGO_COLOR !important;
  --mat-badge-background-color: $MAIN_LOGO_COLOR !important;
  --mat-stepper-header-selected-state-icon-background-color: $MAIN_LOGO_COLOR !important;
  --mat-stepper-header-done-state-icon-background-color: $MAIN_LOGO_COLOR !important;
}

.accordion-header {
  &:hover {
    cursor: pointer;
  }

  &:after {
    color: $MAIN_LOGO_COLOR !important;
  }

  &:hover:after {
    color: $MAIN_LOGO_COLOR_DARKER;
  }
}

.accordion-button:not(.collapsed) {
  color: darken($MAIN_LOGO_COLOR, 10%);
  --mdb-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23#{str-slice("#{$MAIN_LOGO_COLOR}", 2)}'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.collapsed {
  color: black;
}

.btn-employee-edit {
  width: 60%;
}

div.main {
  horiz-align: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.info-panel {
  background-color: #ffffff;
  border: 1px solid rgba(95, 95, 96, 0.64);
  border-radius: 5px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 2vh;
  min-width: 96%;
  width: 98%;
}

.fieldset-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.text-description {
  width: 90%;
  padding-left: 0%;
  padding-top: 0%;
}

.name-text {
  margin-bottom: 0px !important;
  padding-bottom: 0px;
}

.id-text {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 768px) {
  .image-block {
    max-width: 250px
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid rgba(185, 183, 183, 0.33);
}

td {
  padding: 8px;
}
